CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
cmake_install.cmake
doc/CMakeFiles/
doc/Makefile
doc/cmake_install.cmake
doc/libiqxmlrpc.doxygen
doc/libiqxmlrpc.html/
install_manifest.txt
libiqxmlrpc/CMakeFiles/
libiqxmlrpc/Makefile
libiqxmlrpc/cmake_install.cmake
libiqxmlrpc/config.h
libiqxmlrpc/libiqxmlrpc.pc
libiqxmlrpc/libiqxmlrpc.so
libiqxmlrpc/version.h
tests/CMakeFiles/
tests/Makefile
tests/client-stress-test
tests/client-test
tests/cmake_install.cmake
tests/parser-test
tests/server-test
tests/value-test
