Source: libiqxmlrpc
Priority: optional
Maintainer: Anton Dedov <adedov@gmail.com>
Build-Depends: debhelper (>= 5), doxygen, autotools-dev, libboost-dev, libboost-thread-dev, libssl-dev, libxml++1.0-dev
Standards-Version: 3.7.2
Section: libs

Package: libiqxmlrpc-1.0-dev
Section: libdevel
Architecture: any
Depends: libiqxmlrpc-1.0 (= ${Source-Version})
Description: Libiqxmlrpc - an object-oriented XML-RPC library written in C++. 
 It provides client/server API, supports HTTP and HTTPS transports, both
 single-threaded and multi-threaded computation models on a server side, method
 interceptors, and other features.
 .
 This is development package.

Package: libiqxmlrpc-1.0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Libiqxmlrpc - an object-oriented XML-RPC library written in C++. 
 It provides client/server API, supports HTTP and HTTPS transports, both
 single-threaded and multi-threaded computation models on a server side, method
 interceptors, and other features.
 .
 This package provides run-time libraries.
